node_modules
.next
out
build
dist
tsconfig.tsbuildinfo

.env
.env.local
.env.production.local
.env.development.local

*.log
npm-debug.log*

.DS_Store
.vscode
.idea

# local storage (dev-only fallback)
/storage
